[Unit]
Description=Personal Cloud API
After=network.target

[Service]
Type=simple
User=<your pi host name>
WorkingDirectory=/../backend
Environment="PATH=/../backend/.venv/bin"
ExecStart=/../backend/.venv/bin/uvicorn app.main:app --host 127.0.0.1 --port 8000 --workers 1
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
